.card {
  border-radius: 1rem;
  background-color: hsl(217, 19%, 24%);
  width: 34rem;
  height: 18rem;
  max-width: 90%;
  min-width: 250px;
  /* margin: 16vh auto; */
  text-align: center;
  padding: 1.5rem;
  position: relative;
}

@media screen and (max-width: 600px) {
  .card {
    width: 18rem;
    height: 18rem;
  }
}
