@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: hsl(193, 38%, 86%);
  background-color: hsl(218, 23%, 16%);
  display: grid;
  place-content: center;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 22px;
  }
}
