@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: hsl(193, 38%, 86%);
  background-color: hsl(218, 23%, 16%);
}
